<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>efeelture</display-name>

	<!-- 对外接口 -->
	<servlet>
		<servlet-name>MobileAppServlet</servlet-name>
		<servlet-class>controller.MobileAppServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MobileAppServlet</servlet-name>
		<url-pattern>/mobileAppServlet</url-pattern>
	</servlet-mapping>

	<!-- 开启socket服务 -->


	<listener>
		<listener-class>imserver.OpenImServer</listener-class>
	</listener>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>